* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body {
    width: 100vw;
    height: 100vh;
    text-align: center;


}

table {
    margin-left: 390px;
    margin-top: 100px;
}

table,
th,
td {
    border: 2px solid red;


    padding: 10px;
    border-collapse: collapse;


}

button {
    margin-top: 20px;
    padding: 10px;
    background-color: red;
    color: aliceblue;
    border-radius: 10px;
    border: none;
}

button:hover {
    background-color: #fff;
    color: red;
    border: 2px solid red;
}
